$include /etc/inputrc
"\C-f": history-search-backward
"\C-g": history-search-forward
set editing-mode vi
set show-mode-in-prompt on
set colored-stats on
set completion-ignore-case on
set completion-prefix-display-length 3
set show-all-if-ambiguous on
set show-all-if-unmodified on
set mark-symlinked-directories on
set visible-stats on
